body{
    background-image: url(bgimage/Picsart_23-06-20_23-34-04-474.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.nav{
    float: right;
    display: flex ;
    flex-direction:row;
    flex-wrap: wrap ;
    gap: 30px;
    padding: 4px;
    min-width: 500px;
    
}
.nav a{
    color: yellow;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
    text-decoration: none;

}
.navcontainer{
    background-color: black;
    
 
}
.topic{
    color: white;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
    margin-left: 50px;
}


.flexcontainer{
    display: flex;
    flex-grow: initial;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    
}
.flexcontainer1{
    display: flex;
    flex-grow: initial;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    
}
h1{
    text-align: center;
    position: relative;
    bottom: 20px;
}

.item{
    padding: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    /* align-items: center; */
    margin: 2px;
    min-width: 200px;
    max-width: 300px;
    min-height: 400px;
    max-height: 600px;
    border: 2px solid none;
    border-radius: 10px;
    background-size: cover;
    background: linear-gradient(yellow,orange,yellow);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    
}

.item img{
    position: relative;
    bottom: 15px;
   max-width: 400px;
    max-height:200px ;
    border: 2px none ;
    border-radius: 20px;
}
.price{
    margin-top: 30px;
    position: relative;
    top: 1px;
   
}
.price2{
    color: red;
    text-decoration: line-through;
    
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    left: 55px;
    bottom: 20px;
}
.button a{
    text-decoration: none;
    color: rgb(241, 241, 240);
    text-transform: capitalize;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;

}
.foodname{
    background-color: black;
    color: white;
    border-radius: 10px;

}
.item:hover{
    transition: all 1s;
    transform: scale(1.09);
}